{% load static %}
<div class="navbar">
    {% if request.user.is_authenticated %}
    <div class="user-info">
        <div class="avatar">
            <span>{{ request.user.username|slice:":1"|upper }}</span>
        </div>
        <span class="welcome-text">
            Welcome, <strong>{{ request.user.username }}</strong>!
        </span>
    </div>
    <a href="{% url 'aiquiz:logout' %}" title="Logout" class="logout-btn">
        <img src="{% static 'aiquiz/images/logout.png' %}" alt="Logout">
    </a>
    {% endif %}
</div>